<h1 class="text-xl">3. camelCase
    Tạo ô input nhập vào chuỗi bất kỳ
    In lại chuỗi đó theo dạng camelCase Vd: Foo Bar => fooBar, --foo-bar-- => fooBar, __FOO_BAR__ => fooBar</h1>

<input  class="block w-[30%] p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" name="" id="" (change)="onChange($event)">
<p> Chuỗi camelCase: {{string}}</p>

<p class="text-xl text-red-500">Anh nhập rồi ấn Enter nhé!</p>
