<p>
  Viết chương trình tìm tất cả các số chia hết cho 7 nhưng không phải bội số của
  5, nằm trong đoạn 10 và 200 (tính cả 10 và 200). Các số thu được sẽ được in
  thành chuỗi trên một dòng, cách nhau bằng dấu phẩy
</p>
<button
  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  (click)="onClick()"
>
  Tính
</button>

<p>
  {{ string }}
</p>
