
  
  <h1 class="text-xl">
    2. Thống kê phần tử
tạo ô input nhập mảng các số ( vd: 1,2,4,6,6,2,6 )
In ra các số tương ứng với số lần nó xuất hiện trong mảng, sắp xếp từ số xuất hiện nhiều nhất đến nhỏ nhất Vd: 1,2,4,6,6,2,6 . In ra 6:3, 2:2, 1:1, 4: 1
  </h1>
  <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nhập tại đây</label>
<input
  class="block w-[30%] p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  type="number"
  (change)="onChange($event)"
/>

<h1 class="text-xl text-red-500">Anh kiểm tra ở log anh nhé ! </h1>
